.car-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 20px 0 20px;
  justify-content: center;
  min-height: 55vh;
}

.car-image-table-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.car-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.car-image-details {
  width: 700px;
  height: 550px;
  object-fit: contain;
  border-radius: 5%;
}

.car-details-container {
  flex: 1;
}

.car-name-details {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  padding-bottom: 10px;
  padding-top: 15px;
}

.car-details-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.car-details-table th {
  padding: 5px;
  border-bottom: 1px solid #f2f2f2;
  text-align: left;
}

.car-details-table td {
  padding: 5px;
  border-bottom: 1px solid #f2f2f2;
  text-align: right;
}

/* .car-details-table th {
  background-color: #9acd32;
  text-align: left;
} */

.car-details-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.car-description {
  margin: 20px;
  text-align: justify;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.reserve-button {
  border: 1px solid #fff;
  padding: 1rem;
  background-color: #9acd32;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 3rem;
  cursor: pointer;
  width: 20vw;
}

.reserve-button:hover {
  letter-spacing: 0.1rem;
}

.previous-button-container {
  display: flex;
  flex-flow: column-reverse;
  right: 40px;
  position: relative;
}

@media (max-width: 1400px) {
  .car-image-details {
    width: 450px;
    height: 450px;
  }
}

@media (max-width: 1200px) {
  .car-details {
    display: flex;
    margin-right: 40px;
    justify-content: center;
    margin-top: 40px;
    min-height: 30vh;
  }

  .car-image-details {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .car-details {
    flex-direction: column;
    align-items: center;
  }

  .car-image-table-container {
    flex-direction: column;
  }

  .car-image-details {
    width: 300px;
    height: 300px;
  }

  .car-details-table {
    width: 70vw;
  }

  .car-details-container {
    margin-top: 10px;
    text-align: center;
  }

  .car-description {
    width: 70vw;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .reserve-button {
    margin-top: 1rem;
    width: 50vw;
  }

  .car-name-details {
    display: none;
  }

  .previous-button {
    display: none;
  }
}

@media (max-width: 600px) {
  .car-description {
    min-width: 45vw;
  }

  .car-details-table {
    min-width: 45vw;
  }

  .reserve-button {
    min-width: 45vw;
  }
}

@media (min-width: 768px) {
  .car-name-details-mobile {
    display: none;
  }
}
