.delete-list {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.5rem;
}

.item-image {
  width: 100%;
  height: 185px;
  object-fit: contain;
}

.delete-list-item {
  height: 300px;
  box-shadow: #9acd32 0 0 10px 0;
}

.button.btn-delete {
  border: 1px solid #fff;
  background-color: #9acd32;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 1rem;
  cursor: pointer;
  width: 40%;
}

.delete-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 2rem;
}

.car-title {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
}

.textarea:focus {
  border-color: var(--light-green);
  box-shadow: 0 0 10px var(--light-green);
}

@media (max-width: 768px) {
  .delete-list {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .label {
    width: 60%;
  }
}
