.offcanvas-body {
  background: var(--light-green);
}

.navbar-brand img {
  max-width: 100px;
  max-height: 40px;
}

nav .nav-link {
  color: #fff;
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold;
}

.container-fluid {
  background: var(--light-green);
  top: 0;
  margin-top: -8px;
  height: 62px;
}
