.reservation-form {
  max-width: 400px;
  margin: 0 auto;
}

input[type="date"]:focus {
  border-color: #97bf0f;
  box-shadow: 0 0 10px #97bf0f;
}

input[type="number"]:focus {
  border-color: #97bf0f;
  box-shadow: 0 0 10px #97bf0f;
}

div.mb-3 select:focus {
  border-color: #97bf0f;
  box-shadow: 0 0 10px #97bf0f;
}

.form-label {
  color: #97bf0f;
}

.btn {
  background-color: #97bf0f;
}

.btn:hover {
  background-color: #597206;
}

.error-container {
  margin-top: 20px;
  font-size: 14px;
  color: rgb(94, 57, 57);
  text-align: center;
  background-color: #ffcccc;
  border: 1px solid #ff9999;
  border-radius: 4px;
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
}
